// Color Variables

$primary_color: rgb(216, 216, 233);
$primary_hover_color: rgb(132, 132, 146);
$success_color: rgb(190, 233, 112);
$success_hover_color: rgb(98, 114, 40);
$title_color: rgb(89, 233, 76);
$bg_color: wheat;

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: $bg_color;
}

.content {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;

    h1 {
        color: #137054;
    }

    h2 {
        color: #137054;
    }

    table {
        width: 100%;
        margin-top: 20px;
        border-collapse: collapse;

        th,td {
            padding: 10px;
            border: 1px solid #54A7A2;
            color: #D81334;
        }

    }

    a {
        display: inline-block;
        padding: 8px 16px;
        margin: 5px;
        border-radius: 20px;
        background-color: #54A7A2;
        color: #D81334;
        text-decoration: none;
        transition: background-color 0.3s ease;

        &:hover{
            background-color: #137054;
        }
    }

    input {
        padding: 10px;
        margin: 5px;
        border: solid 1px;
        border-radius: 5px;
        border-color: #54A7A2;
        color: #D81334;
    }

    #btn_add {
        background-color: #54A7A2;
        color: #D81334;
        cursor: pointer;

        &:hover{
            background-color: #137054;
        }
    }
}

.testContent {
    a {
        display: inline-block;
        padding: 8px 16px;
        margin: 5px;
        margin-top: 80px;
        border-radius: 20px;
        background-color: #e8f3f2;
        color: #420812;
        text-decoration: none;
        transition: background-color 0.3s ease;

        &:hover{
            background-color: #137054;
        }
    }

}

.casinoContent {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;

    h1{
        position: relative;    
    }
    
    a {
        position: absolute;
        left: 0px;
        font-size: 12px;
        padding: 8px 8px;
        border-radius: 12px;
        background-color: #e8f3f2;
        color: #420812;
        text-decoration: none;
        transition: background-color 0.3s ease;

        &:hover{
            background-color: #137054;
        }
    }

    h1 {
        color: #137054;
    }

    h2 {
        color: #137054;
    }

    input[type=button] {
        width: 52px;
        margin-right: 20px;
        padding: 8px;
        font-size: 16px;
    }
    
}