{% extends "base.html" %}

{% block head %}
<script src="/static/home.js"></script>
<title>Home</title>
{% endblock %}


{% block body %}
<div class="content">
    <h1>Home</h1>
    <h3>Welcome {{user}}</h3>
    <input type="text" name="eventName" id="eventName" placeholder="Event Name" style="color:blue"/>
    <input type="text" name="date" id="date" placeholder="Date: 01-23-2025" style="color:blue"/>
    <input type="submit" value="Create Event" onClick="addEvent()"/>
    <br></br>
    <label id="wrongText" style="display:inline-block; text-align:left;width:150px; color:red; visibility:hidden;" >Incorrect Date Format!</label>
    <br></br>
    {% if events | length < 1 %}
    <h3>There are no events</h3>
    {% else %}
    <table>
        <tr>
            <th>Event</th>
            <th>Date</th>
            <th style="width: 390px">Actions</th>
        </tr>
        {% for event in events %}
        <tr>
            <td class="mid">{{event.name}}</td>
            <td class="mid">{{event.date}}</td>
            <td>
                <input type="submit" value="Delete" onClick="deleteEvent({{event.event_id}})"/>
                <input type="submit" value="Edit" onClick="editEvent({{event.event_id}})"/>
                <input type="submit" value="View" onClick="viewEvent()"/>
                <br>
                <input type="text" id="{{event.event_id}}nameEdit" value="{{event.name}}" placeholder="Event Name" style="color:blue" hidden="True" size="15"/>
                <input type="text" id="{{event.event_id}}dateEdit" value="{{event.date}}" placeholder="Date: 01-23-2025" style="color:blue" hidden="True" size="8"/>
                <input type="submit" id="{{event.event_id}}saveEdit" value="Save" onClick="saveEdit({{event.event_id}})" hidden="True"/>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
    <br></br>
    <input type="submit" value="Logout" onClick="logOut()"/>

{% endblock %}