<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="styles.css" />
        <title>My App</title>
    </head>
    <body>
        <div class="content">
            <h1>Christmas!!!</h1>
            <h2>Mr. Ligma</h2>
            <table>
                <tr>
                    <th>thing</th>
                    <th>price</th>
                    <th>link</th>
                </tr>
                <tr>
                    <th>Lawnmower 10.0</th>
                    <th>69.69</th>
                    <th>www.ligma.gov</th>
                </tr>
                <form action="">
                    <input type="text" name="content" id="content" />
                    <input type="submit" value="Add Task" id="btn_add" />
                </form>
            </table>
    </body>
</html> 